.background{
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
    background-image: url("https://avatars2.githubusercontent.com/u/10993320?s=200&v=4")
}
.tile {
    cursor: pointer;
    background-color: lawngreen;
    width: 400px;
    margin: 10px;
    color:black;
    font-family: Arial, serif;
    font-weight: bolder;
    text-align: center;
    height: 120px;
    line-height: 120px;
    border: 2px dashed black;;
}