chleba: 'chleba'
chlebu: 'chlebů'
chleby: 'chleby'
username: 'Uživatelské jméno'
password: 'Heslo'
passwordVerify: 'Heslo znovu'
accountWithThisNameAlreadyExists: 'Účet s tímto jménem již existuje'
accountWithThisEmailAlreadyExists: 'Účet s tímto emailem již existuje'